<%- model_class = BusOwner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bus_owners.each do |bus_owner| %>
      <tr>
        <td><%= bus_owner.name %></td>
        <td><%= bus_owner.email %></td>
        <td>
          <% if bus_owner_active?(bus_owner) %>
            <%= link_to 'Suspend', bus_owner_index_suspend_path(bus_owner) , :class => 'btn btn-xs btn-warning' %>
            <%= link_to 'Reject',  bus_owner_index_reject_path(bus_owner), :method => :delete, :class => 'btn btn-xs btn-danger' %>
          <% else %>
          <!-- active: "active", pending: "pending", suspend: "suspend", ignore: "ignore" -->
            <%= link_to 'Active', bus_owner_index_active_path(bus_owner) , :class => 'btn btn-xs btn-primary' %>
            <%#= link_to 'Reject',  bus_owner_index_reject_path(bus_owner), :method => :delete, :class => 'btn btn-xs btn-danger' %>
            <%= link_to "Reject", registration_path(bus_owner), :class => 'btn btn-xs btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

