<%- model_class = BusOwner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @bus_owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @bus_owner.email %></dd>

  
</dl>


<%= link_to t('.back', :default => t("helpers.links.back")),
              buses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
               profile_edit_path, :class => 'btn btn-default' %>
<%= link_to "Deactivate My Account", registration_path(@bus_owner), :class => 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %>