<p id="notice"><%= notice %></p>

<p>
  <strong>Seat no:</strong>
  <%= @seat.seat_no %>
</p>

<p>
  <strong>Reservation:</strong>
  <%= @seat.reservation %>
</p>

<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
