<%- model_class = Bus -%>
<div class="row">
  <div class=" col-md-6">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <div class="col-md-6 count">
    <h4><%= @buses.count %> Buses</h4>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:bus_owner_name) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:route) %></th>
      <th><%= model_class.human_attribute_name(:seats) %></th>
      <th><%= model_class.human_attribute_name(:reservations) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td>
          <% if bus.bus_owner.status == "ignore" %>
            <%= bus.bus_owner.name %><br>
            <p class="red_colored">Rejected</p>
          <% elsif bus.bus_owner.status == "pending" %>
            <%= bus.bus_owner.name %><br>
            <p class="yellow_colored">Suspend</p>
          <% else %>
            <%= bus.bus_owner.name %><br>
            <p class="green_colored">Active</p>
          <% end %>
        </td>
        <td><%= bus.name %></td>
        <td><%= bus.source %> - <%= bus.destination %></td>
        <td><%= bus.total_no_of_seats %></td>
        <td><%= link_to "View Reservations", reservations_admin_reservation_path(bus), :class => 'btn btn-xs btn-default '%></td>
        <td>
          <%= link_to "Remove Bus",
                       admin_bus_path(bus),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>