<%= form_for @bus, :html => { :class => "form-horizontal bus" } do |f| %>

  <% if @bus.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@bus.errors.count, "error") %> prohibited this bus from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @bus.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :source, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :source, :class => 'form-control' %>
    </div>
    <%=f.error_span(:source) %>
  </div>

  <div class="form-group">
    <%= f.label :destination, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :destination, :class => 'form-control' %>
    </div>
    <%=f.error_span(:destination) %>
  </div>
  <div class="form-group">
    <%= f.label :registration_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :registration_no, :class => 'form-control' %>
    </div>
    <%=f.error_span(:registration_no) %>
  </div>
  <div class="form-group">
    <%= f.label :total_no_of_seats, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :total_no_of_seats, :class => 'form-control' %>
    </div>
    <%=f.error_span(:total_no_of_seats) %>
  </div>
  <!-- <div class="form-group">
    <%#= f.label :bus_owner_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%#= f.text_field :bus_owner_id, :class => 'form-control' %>
    </div>
    <%#=f.error_span(:bus_owner_id) %>
  </div> -->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bus_owners_profile_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
