<%- model_class = Bus -%>
<div class="page-header">
 <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<!-- -------------------- Bus details -------------------- -->
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @bus.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:route) %>:</strong></dt>
  <dd><%= @bus.source %> - <%= @bus.destination %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total_no_of_seats) %>:</strong></dt>
  <dd><%= @bus.total_no_of_seats %> seats </dd>
  <dt><strong><%= model_class.human_attribute_name(:bus_owner_id) %>:</strong></dt>
  <dd><%= @bus.bus_owner.name %></dd>
</dl>
<div>
  <!-- -------------------- Buttons -------------------- -->
  <%= link_to t('.back', :default => t("helpers.links.back")),
                buses_path, :class => 'btn btn-default'  %>
  <!-- -------------------- Only For Bus Owner -------------------- -->
  <% if current_bus_owner.present? %>
    <% if current_bus_owner.id == @bus.bus_owner_id %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_bus_owners_bus_path, :class => 'btn btn-default' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  bus_path,
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger' %>
    <% end %>
  <% end %>

  <% if !@bus_reservations.blank? %>
    <h3>My Bus Reservations</h3>
    <div class="row">
      <% for reservation in (@bus_reservations).to_a.reverse %>
        <div class="col-md-4 my-buses-show">
          Customer Name : <%= reservation.reservable.name %> <br>
          Bus : <%= reservation.bus.name %> <br>
          Reservation : <%= reservation_date(reservation)%> ( <%=reservation_day(reservation) %> ) <br>
          Seats :
                <% reservation.seats.each do |seat| %>
                  <%= link_to seat.seat_no, root_path,:class=> 'btn my-btn-xs btn-primary disabled' %>
                <% end %>
          <br><br>
          <% if reservation.status == true %>
            <%= link_to 'Cancel Reservation',
                        bus_reservation_path(reservation.bus_id, reservation.id),
                        :method => :delete, 
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% else %>
            <%= link_to 'Reservation Cancelled',
                        bus_reservation_path(reservation.bus_id, reservation.id),
                        :method => :delete, 
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger disabled' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>