<%= form_for [@bus, @reservation], :html => { :class => "form-horizontal reservation" } do |f| %>

  <!-- -------------------- Error -------------------- -->
  <% if @reservation.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <!-- -------------------- Reservation Form -------------------- -->
  <div class="form-group">
    <%= f.label :reservation_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :reservation_date, :class => 'form-control'
      # ,:value=> f.object.reservation_date
      %>
    </div>
    <%=f.error_span(:reservation_date) %>
  </div>

  <div class="form-group">
    <%= f.label :upper_seat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col">
      <% (1..(@bus.total_no_of_seats/2)).each_with_index do |seat,i|%>
      <div class="col-md-3 seat">
            <%= link_to i+1, buses_path, :class=> 'btn my-btn-xs btn-primary', :id => i+1 %>
      </div>
      <% end %>
    </div>
    <%=f.error_span(:seat) %>
  </div>
  <div class="form-group">
    <%= f.label :lower_seat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-4 col">
      <% (1..(@bus.total_no_of_seats/2)).each_with_index do |seat,i|%>
      <div class="col-md-3 seat">
            <%= link_to i+1, buses_path, :class=> 'btn my-btn-xs btn-primary', :id => i+1 %>
      </div>
      <% end %>
    </div>
    <%=f.error_span(:seat) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary'%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                buses_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<!-- -------------------- Window Time Out 5 Min -------------------- -->

<script type="text/javascript">
  setTimeout(function(){ window.location = "/" }, 300000);
</script>