  <div>
    &nbsp
    &nbsp
  </div>
  <div class="form-group">
    <%= reservation.label :upper_seat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= reservation.fields_for :seat do |seat| %>
        <div class="col-lg-4 col">
          <% (1..(@bus.total_no_of_seats/2)).each_with_index do |seat,i|%>
            <div class="col-md-3 seat">
              <%= link_to i+1, book_seat_path, :class=> 'btn my-btn-xs btn-primary', :id => i+1 %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    &nbsp
    &nbsp
  </div>
  <div class="form-group">
    <%= reservation.label :lower_seat, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= reservation.fields_for :seat do |seat| %>
        <div class="col-lg-4 col">
          <% (1..(@bus.total_no_of_seats/2)).each_with_index do |seat,i|%>
            <div class="col-md-3 seat">
              <%= link_to i+1, book_seat_path, :class=> 'btn my-btn-xs btn-primary', :id => i+1 %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>