<%- model_class = Reservation -%>
<% if !@reservations.blank? %>

  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>

  <table class="table table-striped">

    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:customer_name) %></th>
        <th><%= model_class.human_attribute_name(:bus_name) %></th>
        <th><%= model_class.human_attribute_name(:reservation) %></th>
        <th><%= model_class.human_attribute_name(:seats) %></th>
        <th><%= model_class.human_attribute_name(:date_of_booking) %></th>
       
      </tr>
    </thead>
    <!-- -------------------- Reservatoions -------------------- -->
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= customer_name(reservation) %></td>
          <td><%= reservation.bus.name %></td>
          <td><%= reservation_date(reservation) %> ( <%= reservation_day(reservation) %> )</td>
          <td><%= reservation.seat %></td>
          <td><%= date_of_booking(reservation) %></td>
          <%# binding.pry %>
          
          <%#binding.pry%>
        </tr>
      <% end %>
    </tbody>

  </table>

<% else %>
  <h1> We have no Reservations </h1>
<% end %>

<%= link_to 'Back', buses_path, :class => 'btn btn-default' %>