<%- model_class = Reservation -%>
<% if !@reservations.blank? %>

  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>

  <table class="table table-striped">

    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:reservation_date) %></th>
        <th><%= model_class.human_attribute_name(:bus_name) %></th>
        <th><%= model_class.human_attribute_name(:user_id) %></th>
        <th><%= model_class.human_attribute_name(:date_of_booking) %></th>
        <th><%= model_class.human_attribute_name(:number_of_booked_seats) %></th>
      </tr>
    </thead>
    <!-- -------------------- Reservatoions -------------------- -->
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.reservation_date.to_date %></td>
          <td><%= reservation.bus.name %></td>
          <td><%= reservation.bus_owner_id %></td>
          <td><%=l reservation.created_at.to_date %></td>
          <td><%= reservation.seat %></td>
          <%#binding.pry%>
        </tr>
      <% end %>
    </tbody>

  </table>

<% else %>
  <h1> We have no Reservations </h1>
<% end %>

<%= link_to 'Back', buses_path, :class => 'btn btn-default' %>