<!-- <%#- model_class = Reservation -%>
<div class="page-header">
  <h1><%#=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%#= render :partial => 'form' %>
 -->

<%= nested_form_for [@bus, @reservation], html: {bus_id: @bus.id } do |reservation|  %>
  <div class="form-group">
    <%= reservation.label :reservation_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= reservation.date_field :reservation_date, :class => 'form-control'
      # ,:value=> f.object.reservation_date
      %>
    </div>
    <%= reservation.error_span(:reservation_date) %>
  </div> 
  <div>
    &nbsp
    &nbsp
  </div>
    <div class="row center ">
      <div class="row-md-8">
        <div class="col-md-6">
          <b> Lower </b>
        </div>
        <div class="col-md-6">
          <b> Upper </b>
        </div>
      </div>
      <div class="row-md-8 show_seat">
        <% if :reservation_date %>
          <% (1..(@bus.total_no_of_seats)).each_with_index do |seat,i| %>
            <div class="col-md-3 seat">
              <%# if check_seat_booked?(@bus,i+1) %>
                  <%#= link_to i+1, book_seat_path(:seat => "#{seat}"), :class=> 'btn my-btn-xs book_seat btn-danger disabled', :id => i+1, remote:true %>
              <%# else %>
                <%= link_to i+1, book_seat_path(seat: "#{seat}"), class: 'btn my-btn-xs book_seat btn-primary', id: i+1, remote:true, disable: false %>
              <%# end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  <!-- <div>
    &nbsp
    &nbsp
  </div> -->

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= reservation.submit nil, :class => 'btn btn-xs btn-primary'%>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                buses_path, :class => 'btn btn-xs btn-default' %>
    </div>
  </div>
<% end %>

<!-- -------------------- Window Time Out 5 Min -------------------- -->
<script type="text/javascript">
  setTimeout(function(){ window.location = "/" }, 300000);
</script>