<%= form_tag search_path, :method => 'get', remote:true do %>
    <p class="center">
      <b>From : </b><%= text_field_tag :source_search, '', required:true %> 
      <b>TO : </b><%= text_field_tag :destination_search, '', required:true %> 
      <b>Date : </b><%= date_field_tag :date_search, Date.today ,{:min=> Date.today, required:true} %> 
      <%= button_tag "Search",id:"search" %>
    </p>
<% end %>
</div>
<div class="buses">
  <%= render 'buses' %>
</div>