<div>
  <%= form_tag search_path(@buses), :method => 'get', remote:true do %>
      <p class="center">
        <b>From : </b><%= text_field_tag :source_search, params[:source_search], placeholder:"From", required:true %> 
        <b>TO : </b><%= text_field_tag :destination_search, params[:destination_search], placeholder:"To", required:true %> 
        <b>Date : </b><%= date_field_tag :date_search, params[:date_search], {:min=> Date.today}
        # , required:true 
        %> 
        <%= submit_tag "Search" %>
      </p>
  <% end %>
</div>
<div class="buses">
  <%= render 'buses' %>
</div>